section.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--spaceMedium) 0 0 var(--spaceMedium);
  background-color: var(--background);
}

section.panel.flex-2 {
  flex: 2;
}
