input.text-input {
  margin: 0 0 var(--spaceMedium) 0;
  padding: var(--spaceSmall);
  flex-grow: 2;
  background-color: var(--greyScale100);
  border: 0;
  border-radius: var(--spaceSmallest);
  font-size: var(--fontMedium);
}

input.text-input:focus {
  outline: 1px solid var(--background-dark);
}
