dist-newstyle/
.direnv/

.stack-work/
*~
store/*.json
result
result/

# output by benchmarks
compiler/performance.*

.mimsa/
swagger.json
environment.json

store_data/
file_volume/

./file-volume/
./git/
.DS_Store
