body {
  margin: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code,
input,
a,
button {
  font-family: var(--fontFamily);
}

:root {
  --panel-row-flex-direction: column;

  --greyScale100: snow;
  --greyScale0: #333333;
  --background: lightpink;
  --background-dark: rgb(226, 160, 170);
  --background-darker: rgb(207, 148, 157);
  --background-lighter: pink;

  --negative: cornflowerblue;

  --contrast: palevioletred;
  --contrast-dark: rgb(39, 22, 33);

  --spaceSmallest: 0.25em;
  --spaceSmall: 0.75em;
  --spaceMedium: 1.5em;
  --spaceLarge: 3em;
  --spaceLargest: 6em;

  --fontFamily: Iosevka, source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;

  --fontSmall: 8px;
  --fontMedium: 16px;
  --fontLarge: 32px;
}

@media screen and (min-width: 768px) {
  :root {
    --panel-row-flex-direction: row;
    /* tablet upwards */
  }
}
