.stack-work/
*~
store/*.json
result
result/

output/

*.hie
swagger.json

# files generated during tests
test/golden/Typescript/*.ts
test/golden/ESModules/*.mjs
test/golden/CommonJS/*.js
test/golden/Typescript-result/*.json
test/golden/ESModules-result/*.json
test/golden/CommonJS-result/*.json
test/golden/CompileProjectTS/
test/golden/CompileProjectTS-result/
test/golden/CompileProjectJS/
test/golden/CompileProjectJS-result/
