.stack-work/
*~
store/*.json
result
result/

output/

*.hie
swagger.json

# files generated during tests
test/golden/Typescript/*.ts
test/golden/ESModules/*.mjs
test/golden/Typescript-results/*.ts
test/golden/ESModules-results/*.mjs
