name: Haskell - lint

on:
  push:
    branches:
      - trunk

  pull_request:
    branches:
      - trunk

jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: haskell-actions/run-ormolu@14
        with:
          pattern: |
            builder/**/*.hs
            smol-backend/**/*.hs
            smol-core/**/*.hs
            smol-repl/**/*.hs

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: "Set up HLint"
        uses: rwe/actions-hlint-setup@v1
        with:
          version: "3.6.1"

      - name: "Run HLint"
        uses: rwe/actions-hlint-run@v2
        with:
          path: '["builder/", "smol-backend/", "smol-core/", "smol-repl/"]'
          fail-on: warning

