name: Smol - build 

on:
  push:
    branches:
      - trunk
    paths:
      - "benchmarks/**"
      - "smol-backend/**"
      - "smol-core/**"
      - "smol-repl/**"
      - "vendored/**"
      - "cabal.project"
      - "cabal.project.freeze"

  pull_request:
    branches:
      - trunk
    paths:
      - "benchmarks/**"
      - "smol-backend/**"
      - "smol-core/**"
      - "smol-repl/**"
      - "vendored/**"
      - "cabal.project"
      - "cabal.project.freeze"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "14.0"

      - name: Cache cabal global package db
        id: cabal-global
        uses: actions/cache@v3
        with:
          path: ~/.cabal
          key: ${{ runner.os }}-2-smol-cabal-global-${{ matrix.plan.ghc }}-${{ hashFiles('**.freeze') }}
          restore-keys: |
            ${{ runner.os }}-2-smol-cabal-global-${{ matrix.plan.ghc }}

      - name: Cache .cabal-work
        uses: actions/cache@v3
        with:
          path: dist-newstyle
          key: ${{ runner.os }}-2-smol-cabal-work-${{ matrix.plan.ghc }}-${{ hashFiles('**.freeze') }}
          restore-keys: |
            ${{ runner.os }}-2-smol-cabal-work-${{ matrix.plan.ghc }}

      - uses: haskell/actions/setup@v2
        with:
          ghc-version: '9.6.2'
          cabal-version: '3.10.1.0'

      - name: Test smol 
        run: make test-smol

      - name: Test smol backend
        run: make test-smol-backend

      - name: Build smol repl
        run: make build-smol-repl
